[Unit]
Description=Terraria server daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/tshock
ExecStart=/usr/bin/terrariad --exec '/srv/tshock/start-server.sh'
Restart=on-failure

[Install]
WantedBy=multi-user.target
