[Unit]
Description=Terraria server daemon
After=network.target

[Service]
Type=simple
Environment=TSHOCK_SERVICE_DIRECTORY=/srv/tshock
WorkingDirectory=${TSHOCK_SERVICE_DIRECTORY}
ExecStart=${TSHOCK_SERVICE_DIRECTORY}/start-server.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
